:root {
  color: #444;
}

h1 {
  text-align: center;
  margin-bottom: .7em;
}

.user-list .item {
  font-size: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin-bottom: .5rem;
  height: 60px;
}

.user-list .item:first-child {
  margin-top: 1.5rem;
}

.user-list .item .avatar {
  width: 59px;
}

.user-list .item .detail {
  width: 80%;
  color: #aaa;
  padding: .5em .5em 0em .5em;
}

.user-list .item .detail strong {
  color: #444;
}

.user-list .item .detail a {
  text-decoration: none;
  color: inherit;
}

.user-list .item .detail > * {
  margin: .1em 0;
}

.user-list .item .detail div {
  margin-top: .8em;
}

.user-list .item > * {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
